@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
.app{
    min-height: 100vh;
    background-color: #39445a;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 70px;
}

.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 4px;
    margin-bottom: 20px;
    color: #fff;
}


@media(max-width: 700px){
    .app{
        padding-top: 70px;
    }
}
@media(max-width: 1100px){
    .pageTitle{
        font-size: 6vw;
        padding-top: 30px;
    }
}